# Use Docker's DNS resolver
resolver 127.0.0.11 valid=1y ipv6=off;

# Default server
server {
    listen 80 default_server;
    server_name _;

    # Return no response and close connection
    return 444;
}

# Redirect HTTP traffic to HTTPS
server {
    listen 80;
    server_name ${NGINX_DOMAIN};
    return 301 https://$host$request_uri;
}

server {
    listen 80;
    server_name ${NGINX_DOMAIN};

    # Enable serving pre-compressed files
    gzip_static on;

    location /auth {
        rewrite ^/auth(.*)$ /$1 break;
        proxy_pass ${NGINX_PROXY_KEYCLOAK_URL};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Prefix /auth;
    }

    location /api {
        rewrite ^/api(.*)$ /$1 break;
        proxy_pass ${NGINX_PROXY_API_URL};
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port $server_port;
        proxy_set_header X-Forwarded-Prefix /api;
        proxy_set_header X-Admin-Secret "";
    }

    location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html =404;
    }
}
