# Use Docker's DNS resolver
resolver 127.0.0.11 valid=1y ipv6=off;

# Default server
server {
    listen 80 default_server;
    server_name _;
    
    # Return no response and close connection
    return 444;
}

# Admin server
server {
    listen 80;
    server_name admin.${GEYSER_DOMAIN};
    
    set $keycloak_url ${NGINX_PROXY_KEYCLOAK_URL};
    include /etc/nginx/includes/locations/admin.keycloak.conf;
}

# Keycloak server
server {
    listen 80;
    server_name auth.geyser.localhost;
    
    set $keycloak_url ${NGINX_PROXY_KEYCLOAK_URL};
    include /etc/nginx/includes/locations/keycloak.conf;
}

# API server
server {
    listen 80;
    server_name api.geyser.localhost;
    
    set $api_url ${NGINX_PROXY_API_URL};
    include /etc/nginx/includes/locations/api.conf;
}

# Dev client server
server {
    listen 80;
    server_name dev.geyser.localhost;
    
    set $client_url ${NGINX_PROXY_DEV_CLIENT_URL};
    include /etc/nginx/includes/locations/dev.conf;
}

# App preview server
server {
    listen 80;
    server_name preview.geyser.localhost;
    
    location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html =404;
    }
}
