# Use Docker's DNS resolver
resolver 127.0.0.11 valid=1y ipv6=off;

# Default server
server {
    listen 80 default_server;
    server_name _;

    # Return no response and close connection
    return 444;
}

# Keycloak admin server
server {
    listen 80;
    server_name auth-admin.${NGINX_DOMAIN};
    
    set $keycloak_url ${NGINX_PROXY_KEYCLOAK_URL};
    include /etc/nginx/includes/locations/keycloak-admin.conf;
}

# Keycloak server
server {
    listen 80;
    server_name auth.${NGINX_DOMAIN};
    
    set $keycloak_url ${NGINX_PROXY_KEYCLOAK_URL};
    include /etc/nginx/includes/locations/keycloak.conf;
}

# API server
server {
    listen 80;
    server_name api.${NGINX_DOMAIN};
    
    set $api_url ${NGINX_PROXY_API_URL};
    include /etc/nginx/includes/locations/api.conf;
}

# Dev client server
server {
    listen 80;
    server_name dev.${NGINX_DOMAIN};
    
    set $client_url ${NGINX_PROXY_DEV_SERVER_URL};
    include /etc/nginx/includes/locations/client.conf;
}

# Preview client server
server {
    listen 80;
    server_name preview.${NGINX_DOMAIN};
    
    set $client_url ${NGINX_PROXY_PREVIEW_SERVER_URL};
    include /etc/nginx/includes/locations/client.conf;
}

# App build server
server {
    listen 80;
    server_name build.${NGINX_DOMAIN};
    
    location / {
        root /usr/share/nginx/html;
        try_files $uri $uri/ /index.html =404;
    }
}
